
body{
    background: #000;

}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  font-family: Poppins, serif;
  background-color: #171717
}
.formClass{
  width: 400px;
  height: 500px;
}